<div class="foot-panel3">
    <div class="logo">

    </div>
</div>
<div class="foot-panel4">
    <div class="pages">
        <a href="">Conditions of Use</a>
        <a href="">Privacy Notice</a>
        <a href="">Ypur Ads Privacy Choices </a>
    </div>
     <div class="copyright">
        Copyright@2022 AgricultureTrading.in,All rights are reserved
     </div>
</div>