<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FArmers</title>
    <link rel="stylesheet" href="../home.css">
  </head>
  <body>
    <%- include("header.ejs") %>
    <center>
  
      <h2 style="color:white">Farmers Available</h2>
    </center>
    <!-- to display available farmers -->
    <section2 class="siddu">
        <center>
      <div class="box">

        <img src="]\images\p11.png" alt="person" />
        <p style="color:white">
          Name:anup dey<br />
          Contact:9701360782<br />
          Address:srirampur,peddapally<br />
          crop:raddish<br />
          Quantity Available in kgs:600 <br />
          cost per kg:800<br />
        </p>
        <form action="/add" method="post" class="form">
          <!-- <input class="input" type="text"  name="name" placeholder="enter the login name"> -->
          <input class="input" type="hidden" name="Apple" value="raddish">
          <input class="input" type="hidden" name="cost" value="55">
          <input class="input" type="number" name="quantity" placeholder="enter the quantity">
          <button class="btn2" type="submit">Add</button>
        
        </form>

      </div>
      </center>
    </section2>
    <br /><br /><br />
    <section2 class="siddu">
        <center>
      <div class="box">

        <img src="\images\p11.png" alt="person" />
        <p style="color:white">
          Name:narasaihr<br />
          Contact:9701360783<br />
          Address:manthani,khammam<br />
          crop:Raddish<br />
          Quantity Available in kgs:1000 <br />
          cost per kg:60<br />
        </p>
        <form action="/add" method="post" class="form">
          <!-- <input class="input" type="text"  name="name" placeholder="enter the login name"> -->
          <input class="input" type="hidden" name="Apple" value="raddish">
          <input class="input" type="hidden" name="cost" value="55">
          <input class="input" type="number" name="quantity" placeholder="enter the quantity">
          <button class="btn2" type="submit">Add</button>
        
        </form>

      </div>
      </center>
    </section2>
    <%- include("footer.ejs") %>
  </body>
</html>
