<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="home.css">
    <title>commercial</title>
  </head>
  <body>
    <%- include("header.ejs") %>
    <center>
      <h1 >Commercial</h1>
    </center>
    <section2 class="how">
        <center>
         <table cellspacing="49">
           <tr>
             <div id="noo">
             <td id="images"><a href="farmers/cotton">
               <img src="images\cotton2.jpg" alt="cotton" >
               <center>
                 Cotton
               </center></a>
             </td>
             <td id="images"><a href="farmers/sugarcane">
               <img src="images\sugarcane.png" alt="sugarcane">
               <center>
                 sugarcane
               </center></a>
             </td>
             <td id="images"><a href="farmers/mustard">
               <img src="images\mustard.jpg" alt="mustard">
               <center>
                Mustard
               </center></a>
             </td>
   </div>
           </tr>

           <tr>
             <td id="images"><a href="farmers/coffecherry"><img src="images\coffee-cherry.jpg" alt="radish">
               <center>
                 coffee-cherry
               </center>
             </a></td>

             <td id="images"><a href="farmers/soyabean"><img src="images\soyabean.jpg" alt="soyabean">
               <center>
              soyabean
               </center> </a></td>
             <td id="images"><a href="farmers/groundnut"><img src="images\groundnut.jpg" alt="groundnut">
               <center>
                groundnut
               </center> </a></td>
           </tr>

         </table>
           </center>
       </section2>
       <%- include("footer.ejs") %>
  </body>
</html>
