<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fruits</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    <%- include("header.ejs") %>
    <center>
      <h1 >Fruits</h1>
    </center>
    <section2 class="how">
      <center>

         <table cellspacing="49">
           <tr>
             <div id="noo">
             <td id="images"><a href="farmers/Apple">
               <img src="images\apple.jpg" alt="Apple" >
               <center>
                 Apple
               </center></a>
             </td>
             <td id="images"><a href="farmers/Custard">
               <img src="images\custard.jpg" alt="Custard">
               <center>
                 Custard
               </center></a>
             </td>
             <td id="images"><a href="farmers/watermelon">
               <img src="images\watermelon.jpg" alt="Watermelon">
               <center>
                Watermelon
               </center></a>
             </td>
   </div>
           </tr>

           <tr>
             <td id="images"><a href="farmers/oranges"><img src="images\oranges.jpg" alt="oranges">
               <center>
                 Oranges
               </center>
             </a></td>

             <td id="images"><a href="farmers/guava"><img src="images\guava.jpg" alt="guava">
               <center>
                guava
               </center> </a></td>

             <td id="images"><a href="farmers/grapes"><img src="images\grapes.jpg" alt="Grapes">
               <center>
                 Grapes
               </center> </a></td>
           </tr>

         </table>
           </center>
       </section2>
       <%- include("footer.ejs") %>
  </body>
</html>
