<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="home.css">
    
  </head>
  <body>
   
    
    <%- include("header.ejs") %>
    <center>
      <h1 >Categories</h1>
    </center>
    <section2 class="how">
      <center>

         <table cellspacing="49">
           <tr>
             <div id="noo">
             <td id="images"><a href="Fruits">
               <img src="images\fruits.jpg" alt="fruits" >
               <center>
                 Fruits
               </center></a>
             </td>
             <td id="images"><a href="Commercial">
               <img src="images\cotton2.jpg" alt="cotton2">
               <center>
                 Commercial
               </center></a>
             </td>
             <td id="images"><a href="vegetables">
               <img src="images\vegetables.jpg" alt="vegetables">
               <center>
                Vegetables
               </center></a>
             </td>
             <td id="images" ><a href="cereals"><img src="images\cereal.jpg" alt="cereal">
              <center>
                Cereals
              </center>
            </a></td>
   </div>
           </tr>

           <tr>
             

             <td id="images"><a href="millets"><img src="images\millets.jpg" alt="millets">
               <center>
                Millets
               </center> </a></td>

             <td id="images"><a href="pulses"><img src="images\pulses.jpg" alt="pulses">
               <center>
                 Pulses
               </center> </a></td>
               <td id="images" ><a href="farmers/milk"><img src="\images\milk.jpeg">
                <center>
                  Milk
                </center>
              </a></td>
  
              <td id="images"><a href="farmers/ghee"><img src="\images\ghee.jpg" alt="millets">
                <center>
                Ghee
                </center> </a></td>
           </tr>
          
           <tr>
            

            <td id="images"><a href="farmers/fish"><img src="/images\fish.jpeg" alt="pulses">
              <center>
                Fish
              </center> </a></td>
              <td id="images"><a href="farmers/honey"><img src="\images\honey.jpeg" alt="pulses">
                <center>
                 Honey
                </center> </a></td>
                <td id="images"><a href="farmers/prawns"><img src="/images\pronse.jpeg" alt="pulses">
                  <center>
                    Prawns
                  </center> </a></td>
                  <td id="images"><a href="farmers/rice"><img src="/images\rice.jpeg" alt="pulses">
                    <center>
                      Rice
                    </center> </a></td>
          </tr>
         </table>
           </center>
       </section2>
       <br />
       <section3>
         <center>
<!--
         <audio controls>
           <source src=".mp3" type="mam/mp3" />

         </audio> -->
         <!-- <h2 style="color:white">Regestration process</h2>
         <video width="200" height:"200" controls>
           <source src="video.mp4" type="video/mp4"
         </video>

       </center> -->
       <%- include("footer.ejs") %>
       </section3>
       
    
  </body>
</html>












