<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="home.css">
    <title>Millets</title>
  </head>
  <body>
    <%- include("header.ejs") %>
    <center>
      <h1 >Millets</h1>
    </center>
    <section2 class="how">
        <center>
         <table cellspacing="49">
           <tr>
             <div id="noo">
             <td id="images"><a href="farmers/pearmillet">
               <img src="images\sorgham.jpg" alt="sorgham" >
               <center>
                sorgham
               </center></a>
             </td>
             <td id="images"><a href="farmers/pearmillet">
               <img src="images\pearl_millet.jpg" alt="pearl_millet">
               <center>
                 pearl_millet
               </center></a>
             </td>
             <td id="images"><a href="farmers/pearmillet">
               <img src="images\finger_millet.jpg" alt="finger_millet">
               <center>
                finger_millet
               </center></a>
             </td>
   </div>
           </tr>
             </center>
       </section2>

       <footer>
        <%- include("footer.ejs") %>
       </footer>
        
  </body>
</html>
