<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css" >
       
    <title>Document</title>
    <style>
        .h1 {
            color: white;
            text-align: center;
            font-size: 50px;
            margin-top: 100px;
            text-shadow: 5px 2px green;
        }
        .h2 {
            color: white;
            text-align: center;
            font-size: 50px;
            margin-top: 50px;
            text-shadow: 5px 2px blue;
        }
        #foot{
            position: fixed;
            bottom: 0px;
            width: 100%;
          
        }
    </style>
</head>
<body>
    <%- include('header.ejs')%>
    <center>
        <h1 class="h1">Your Order is Successfully Done </h1>
        <h2 class="h2">Continue your Shopping</h2>

    </center>
   

<div id="foot">
    <%- include('footer.ejs')%>  
</div>
</body>
</html>