<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css">
    <title>pulses</title>
  </head>
  <body>
    <section1 >
      <!-- <a href="home.html"><img id="logo" src="C:\cofeinfinity\images\home.jpeg" alt="Home" /></a> -->
      <%- include("header.ejs") %>
      <center>
        <h1 >Pulses</h1>
      </center>

    <section2 class="how">
        <center>
         <table cellspacing="49">
           <tr>
             <div id="noo">
             <td id="images"><a href="farmers/redgram">
               <img src="images\redgram.jpg" alt="redgram" >
               <center>
              redgram
               </center></a>
             </td>
             <td id="images"><a href="farmers/redgram">
               <img src="images\bengalgram.jpg" alt="bengalgram">
               <center>
                bengalgram
               </center></a>
             </td>
             <td id="images"><a href="farmers/redgram">
               <img src="images\greengram.jpg" alt="greengram">
               <center>
              greengram
               </center></a>
             </td>
   </div>
           </tr>
             </center>
</section2>
      <footer>
       <%- include("footer.ejs") %>
      </footer> 
  </body>
</html>
