<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="regis&signup.css">
  </head>
  <body>
    <script>
     function sanju(){
      alert("entered details are correct....!");
      open("home.html");

    }
    </script>
    <div>
      <h1 style="color:#C92C6D">Register</h1>
      <form  action="/new" method="post">
        <input type="text" name="name" placeholder="Name" /><br /><br />
        <input type="number"name="number" placeholder="contact" /><br /><br />
        <input type="text"  name="address" placeholder="Address" /><br /><br />
          <input type="text"  name="crop" placeholder="crop" /><br /><br />
            <input type="text" name="Quantity"  placeholder="Quantity available(kgs)" /><br /><br />
         <input type="number"  name="cost" placeholder="cost(per kg)" /><br /><br />
        <!-- <a href="login.html"><input type="button" value="Submit"  /></a> -->
        <!-- <input type="button" value="Submit" onclick="sanju()" /> -->
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
