<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css">
    <title>Vegetables</title>
  </head>
  <body>
    <%- include("header.ejs") %>
    <center>
      <h1 >Vegetables</h1>
    </center>


    <section2 class="how">
        <center>
         <table cellspacing="49">
           <tr>
             <div id="noo">
             <td id="images"><a href="farmers/Tomato">
               <img src="images\tomato.jpg" alt="Tomato" >
               <center>
                 Tomato
               </center></a>
             </td>
             <td id="images"><a href="farmers/carrot">
               <img src="images\carrot.jpg" alt="Carrot">
               <center>
                 Carrot
               </center></a>
             </td>
             <td id="images"><a href="farmers/cabbage">
               <img src="images\cabbage.jpg" alt="cabbage">
               <center>
                Cabbage
               </center></a>
             </td>
   </div>
           </tr>

           <tr>
             <td id="images"><a href="farmers/tomato4"><img src="images\radish.jpg" alt="radish">
               <center>
                 radish
               </center>
             </a></td>

             <td id="images"><a href="farmers/tomato5"><img src="images\Brinjal.jpg" alt="Brinjal">
               <center>
                Brinjal
               </center> </a></td>
             <td id="images"><a href="farmers/potato"><img src="images\potato2.jpg" alt="potato">
               <center>
                 Potato
               </center> </a></td>
           </tr>

         </table>
           </center>
       </section2>
       <%- include("footer.ejs") %>
  </body>
</html>
